.custom-title {
  font-family: 'Montserrat', sans-serif; /* Cambia a Montserrat o la fuente que prefieras */
  font-weight: 700; /* Puedes ajustar el peso de la fuente según tus preferencias */
  color: #EF4444; /* Puedes ajustar el color según tus preferencias */
}

.btn-nav {
  padding: 10px 20px;
  border-radius: 999px; /* Usa un valor alto para hacer bordes redondos */
  font-family: 'Montserrat', sans-serif; /* Puedes cambiar a la fuente que prefieras */
  font-weight: 700; /* Puedes ajustar el peso de la fuente según tus preferencias */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-nav-blue {
  background-color: #4299e1; /* Color azul */
  color: #fff; /* Texto blanco */
}

.btn-nav-green {
  background-color: #48bb78; /* Color verde */
  color: #fff; /* Texto blanco */
}

.btn-nav:hover {
  background-color: #4f4f4f; /* Cambio de color al pasar el ratón */
}